<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="fr.acinq.bitcoin">
    <resources>
        <resource-root path="annotations-13.0.jar"/>
        <resource-root path="bitcoin-kmp-jvm-0.8.2.jar"/>
        <resource-root path="kotlin-stdlib-1.5.31.jar"/>
        <resource-root path="kotlin-stdlib-common-1.5.31.jar"/>
        <resource-root path="kotlin-stdlib-jdk7-1.5.31.jar"/>
        <resource-root path="kotlin-stdlib-jdk8-1.5.31.jar"/>
        <resource-root path="secp256k1-kmp-jvm-0.6.1.jar"/>
        <resource-root path="secp256k1-kmp-jni-jvm-mingw-0.6.1.jar"/>
        <resource-root path="secp256k1-kmp-jni-jvm-linux-0.6.1.jar"/>
        <resource-root path="secp256k1-kmp-jni-jvm-extract-0.6.1.jar"/>
        <resource-root path="secp256k1-kmp-jni-jvm-darwin-0.6.1.jar"/>
        <resource-root path="secp256k1-kmp-jni-jvm-0.6.1.jar"/>
        <resource-root path="secp256k1-kmp-jni-common-0.6.1.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api" />
    </dependencies>
</module>