@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
}

.col-right{
    float:right;
}

.main {
    margin-top: 0 !important;
}


html,body{height:100%:}
body{color:#aaa;background:#212121;}

a,.orange{color: #FD6D00;}

a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}

.clickable{
    transition:all linear 0.2s;
    cursor:pointer;
}

.white{color:#fff;}

.btn-follow {
    border: 1px solid #FD6D00;
    padding: 3px 20px;
    position: relative;
    margin: 0 auto;
    display: block;
    color:#fff;
    background-color:#FD6D00;
}

.btn-follow:focus{
    color:#fff;
}

.btn-follow .do_unfollow{
    display:none;
}
.btn-follow.following .do_follow{
    display:none;
}
.btn-follow.following .do_unfollow{
    display:block;
}

.btn-primary{
    background-color:#FD6D00;
    border:1px solid #FD6D00;
}

.btn-secondary,.btn-follow.following{
    border: 1px solid #FD6D00;
    background: #121212;
    color:#FD6D00;
}

.btn-secondary:hover{
    border: 1px solid #FD6D00;
    background: #FD6D00;
    color:#fff;
}

.btn:hover{
    background:#333;
    color:#fff;
    border-color:#333;
}

.comment-form textarea{
    margin-bottom:10px;
}

.btn-follow:hover{
    color:#FD6D00;
    background-color:transparent;
}

*{font-family: 'Source Sans Pro', sans-serif;}

div.video{
    background:no-repeat center center #000;
    background-size: contain;
    padding:0;
    min-height:400px;
    position:relative;
}

div.video iframe{
    width:100%;
    height:380px;
    min-height:100%;
    position:absolute;
}

#top {
    padding: 10px 15px;
    position: relative;
    z-index: 201;
    background:#151515;
}

#topBar > .container > .row{
    position:relative;
}

#topBar > .container > .row > div{
    position:unset;
}

.searchBar{float:none;position:relative;margin-top:0;margin-right:-15px;}
.searchBar form{width:100%;}

.searchBar input[type="text"],
.form-control {
    font-size: 14px;
    padding: 6px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    color: #ccc;
    margin: 0;
    background:#343434;
}
.searchBar input[type="submit"],
input[type="submit"].form-control {
    width: 40px;
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:100%;
    background:transparent;
    border:none;
    z-index:10;
}

.register-form input{
    margin-bottom:10px;
}
.register-form label {
    color: #fff;
    margin-bottom: 0px;
}

#infoMessage p {
    color: #fff;
    background: transparent;
    border: 1px solid #FD6D00;
    border-radius:3px;
}
#infoMessage p {
    padding: 3px;
    text-align: center;
}

#wizard-form select.error,
#wizard-form textarea.error,
#wizard-form input.error,
#wizard-form input.error[placeholder],
#profile-form input.error,
.register-form input.error,
.register-form input.error[placeholder]{
    color: #991010;
    background:#f98b8b;
}

#wizard-form input,
#wizard-form select,
#wizard-form textarea{
    margin-bottom:10px;
}

#wizard-form label.error,
.register-form label.error,
#profile-form label.error{
    display:none !important;
}

#wizard-form h2.video-title{
    font-size:18px;
}
#wizard-form .video-summary{
    font-size:14px;
}
#wizard-form .main-text{
    height:120px;
}

.searchBar .fa {
    position: absolute;
    top: 6px;
    right: 12px;
    color: #FD6D00;
    font-size: 21px;
}

#closeSearch .fa {
    font-size: 14px;
    margin-top: 3px;
}

.quick_results {
    position: absolute;
    width: 100%;
    height: auto;
    background: #000;
    z-index: 1000;
    padding: 10px;
    display:none;
    box-shadow: 0 15px 15px #000;
}

.num-followers{margin-left:10px;}

.quick_results .num-followers{
    display:none;
}

.main-text{
    height:238px;
    overflow:hidden;
    position: relative;
    transition:all linear 0.2s;
}
.main-text .shade{
    width:100%;
    height:180px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 18%, rgba(0,0,0,0) 74%);
    bottom:0;
    left:0;
    position:absolute;
}

.main-text .shade .btn{
    position:absolute;
    left:10px;
    bottom:10px;
}

.main-text.opened{
    height:auto;
}
.main-text.opened .shade{
    display:none;
}

.quick_results h3 {
    font-size: 16px;
    color: #fff;
    margin: 0 0 5px;
}

.quick_results ul{
    padding:0;
    list-style:none;
}

.quick_results .item-image {
    width: 40px;
}

.quick_results .card-list-item {
    padding:5px 5px 5px 70px;
}

.quick_results .card-list-item a {
    color: #888;
    display: inline-block;
    font-size: 12px;
}

#pageWrapper {
    overflow: hidden;
    min-height:100%;
}

.brand_img{display:block;}

.brand-box p{font-size:14px;}
.side-box p{font-size:12px;margin-bottom:0;}
.side-box h3{margin-top:0;}

.side-box .small.postdate {
    color: #555;
    font-weight: 300;
    font-size: 11px;
}

.quote-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
    color: #fff;
    text-align: center;
}
.quote-text .fa{
    font-size:12px;
    color:#FD6D00;
}
.quote-author {
    text-align: center;
    font-size: 11px;
    margin-top: 5px;
    font-style: italic;
}

.brand-box h2{font-weight:300;}
.brand-box h2 .highlight {
    color: #fff;
    display: block;
    font-weight: bold;
    margin-top: 2px;
}

.brand-box .card-list-item,
.brand-box .card-list-item a{
    font-size:12px;
}

.cat-box {
    margin-bottom: 10px;
    margin-top: -10px;
    color: #444;
}

h4,.h4{
    font-size:14px;
    margin-bottom:5px;
}
.h4 strong{
    color:#fff;
}

.card-list-item .fa-play {
    font-size: 8px;
    border: 1px solid;
    border-radius: 3px;
    width: 15px;
    text-align: center;
    line-height: 10px;
    display: inline-block;
    color: #fff;
    margin-right: 3px;
}

.no-margin{margin:0;}

.clear{clear:both;}
header{padding:3em 0;}
section{position:relative;}

#logo {
    height: 40px;
    display: block;
    margin: 20px 0;
    width: 100%;
    max-width: 210px;
}

#logo svg {
    width: 100%;
    display: block;
    margin-top: 15px;
}

.smaller #logo{background-size:auto 30px;height:30px;margin:4px 0;}
a{transition: all ease-in-out 0.2s;}
p,li,td{color:#aaa;font-weight:300;}

.topItems ul{margin-bottom:0;padding:0;}
.topItems li{list-style:none;display:inline;}
a.top-link {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: #FD6D00;
    padding: 7px 10px;
    text-shadow: 1px 1px 1px #000;
    border-radius: 3px;
    font-size:12px;
    margin-top:2px;
}
a.top-link:hover {
    color: #ffaa00 !important;
    text-decoration: none;
    background: #333;
}

.rightItems{text-align:right;}
.rightItems a.top-link{color:#888;}
.rightItems a.top-link .fa{
    color:#FD6D00;
    margin-right:3px;
}
.rightItems a.top-link:hover .fa{
    color:#fff;
}

#userNav li a,
h1,.h1,h1 *,
h2,.h2,h2 *,
h3,.h3,h3 *,
h4,.h4,h4 *,
.button {
    font-family: 'Source Sans Pro', serif;
    color:#FD6D00;
    font-weight:bold;
}

.main-box h1{
    color:#fff;
    margin-top:0;
    font-size:24px;
}
.main-box h1.strong{
    color:#FD6D00;
}

.main-box *{
    text-align:left !important;
}

.video-box{
    padding:0 !important;
}

.meta-box{
    background:#151515;
    border:1px solid #222;
    padding:10px;
    border-radius:3px;
    margin-bottom:10px;
}

.meta-box > div{
    display:inline-block;
    margin-right:15px;
    font-size: 12px;
}

.button{font-weight:normal;}
p strong{color:#888;}
.centered{text-align:center;}

table{width:100%;}
#adminForm label{color:#000;display:block;clear:both;}
#navMobile,#nav-trigger,.social_icons{display:none;}

section.darker{background: #f9f9f9;border-bottom:1px solid #e9e9e9;}

#topBar, .pagerBox {
    background:#f4f4f4;
    position: relative;
    z-index: 100;
    border-bottom:1px solid #eaeaea;
    border-top:1px solid #fff;
}

#topBar,
#topBar *{transition:all ease-in-out 0.2s;}
#topBar {
    background: linear-gradient(90deg, rgba(209,117,8,1) 0%, rgba(255,109,0,1) 100%);
    border-bottom: 1px solid #d85d00;
    border-top: 1px solid #ff8235;
    z-index: 200;
    position: relative;
}

#top .container,
#topBar .container{width:100%;max-width:1200px;}

#topBar.home .container{box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);}

#bc li{font-weight:300;}

#userNav{text-align:left;margin-bottom:0;padding:0;border-right: 1px solid #ff8235;border-left: 1px solid #d85d00;float:right;}
#userNav li{display:inline;list-style:none;}
#userNav li a {
    color: #000;
    display: inline-block;
    font-size: 15px;
    letter-spacing: -0.035em;
    margin: 0;
    padding: 21px 15px;
    text-shadow:0 1px 1px #ffa566;
    text-decoration: none;
    position: relative;
    z-index: 2;
    transition: all linear 0.2s;
    border-radius: 0;
    text-transform: uppercase;
    border-left: 1px solid #ff8235;
    border-right: 1px solid #d85d00;
}
#userNav li a span.subtitle{
    display:block;
    color:#fff;
    font-size:11px;
    font-weight:300;
    text-shadow: 1px 0px 1px #ce5900;
}

#userNav li a .fa-heart{color:#333;margin-right:8px;}
#userNav li a .fa-heart.favorite{color:#FD6D00;}

#userNav li a.active{color:#000;background-color:#d85d00;box-shadow: inset 0px 0px 13px rgba(255,255,255,0.2);}
#userNav li a:hover{color:#fff;background:#fc8a00;text-shadow:none;border-radius:0;}

#userNav li ul{z-index:1;position:absolute;top:81px;left:5px;display:block;visibility:hidden;padding:0 10px 10px;margin:0;width:100%;text-align:left;transition:all ease-in-out 0.3s;transition-delay:0.2s;opacity:0;background:rgba(30,30,30,0.8);}

#userNav li ul li a {
    text-align: left;
    background: #444;
    margin:0 1px 1px 0;
    text-shadow: none;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    display: block;
    padding: 5px 10px;
    border: none;
    color: #ccc;
    font-weight: normal;
    font-size: 12px;
    text-transform: none;
}

#userNav li ul li {
    margin: 0;
    padding: 0;
    width: 20%;
    display: inline-block;
}
#userNav li ul li a:hover,
#userNav li ul li a.active{background:#000;color:#fff;border-radius:0;}


#userNav li:hover ul{display:block;opacity:1;visibility:visible;}

#userNav .count {
    display: block;
    width: auto;
    padding: 2px 5px;
    background: #555;
    line-height: 1;
    border-radius: 3px;
    color: #999;
}

.user-buttons {
    list-style: none;
    text-align: right;
    margin-bottom: 1px;
    padding: 0;
}

.user-buttons li{
    display:inline;
}
.user-buttons li.follow{
    display:inline;
}

.user-buttons li a{
    color:#999;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    background:rgba(26,26,26,0.8);
    text-align: center;
}

.user-buttons li.follow a{
    padding:0 10px;
    width:auto;
}
.user-buttons li.follow a .fa{
    margin-right:5px;
}


.user-buttons li a:hover{
    color:#fff;
    background:#000;
}

.user-buttons li a.added{
    background-color:#FD6D00;
    color:#fff;
}


.smaller #userNav li a {
    margin: 0 0 0 5px;
    font-size:12px;
}

.col{float:left;padding:0 15px;}

.home_gallery{background:#000;}


.slogan{position:relative;max-width:80%;margin:0 auto;padding:180px 0 220px;text-shadow:0 2px 2px rgba(0,0,0,0.3);}
.slogan *{color:#fff;}
.slogan h2{margin-top:0;font-size:46px;margin-bottom:12px;}
.slogan p{font-size:24px;}
.slide{position:absolute;width:100%;height:100%;top:0;left:0;text-align:center;background:#000;}
.bg_img{width:100%;height:100%;background:center center no-repeat fixed;background-size:cover;position:absolute;top:0;left:0;opacity:1;}


.home_gallery .slide .slogan{opacity:0;transition:all linear 0.2s;transition-delay:0.8s;}

.home_gallery .slide .slogan .button{transition:all linear 0.2s;opacity:0;transition-delay:0.1s;margin-top:50px;box-shadow:0 2px 2px rgba(0,0,0,0.3);}


.home_gallery .slide .slogan .button:hover {
    margin-top: 51px;
    box-shadow: 0 -2px 2px rgba(0,0,0,0.3);
}


.home_gallery .slide.cycle-slide-active .slogan{opacity:1;margin-top:10px;}

.home_gallery .slide.cycle-slide-active .slogan .button{opacity:1;margin-top:30px;transition-delay:0;}

.home_gallery .slide .bg_img{background-attachment:scroll;}

.pagerBox {
    box-shadow:0 -5px 5px rgba(0, 0, 0, 0.1);
}

.pagerBox #pager{text-align:center;margin:-1px 0 0;padding:0;}
.pagerBox #pager li{display:inline-block;transition:all ease-in-out 0.3s;background-color:transparent;}
.pagerBox #pager li a,.pagerBox #pager li span.arrow{transition:all ease-in-out 0.3s;}
.pagerBox #pager li span.arrow{transition-delay:0s;}
.pagerBox #pager li a{display:block;padding:10px;color:#ccc;text-align:center;text-decoration:none;position:relative;z-index: 2;text-shadow: 0 1px 0px rgba(255,255,255,0.6);}

.pagerBox #pager li.cycle-pager-active{position:relative;}
.pagerBox #pager li.cycle-pager-active a {
    background-color: #ddd;
    color: #999;
    box-shadow: inset -1px -1px 6px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-width: 0 1px;
}
.pagerBox #pager li span.arrow{
    opacity:0;
    z-index: 1;
    position:absolute;
    display:block;
    visibility: hidden;
    top:0;
    left:50%;
    margin-left:-9px;
    margin-top:-12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 24px 12px;
    border-color: transparent transparent #ddd transparent;
}

.pagerBox #pager li.cycle-pager-active  span.arrow{opacity:1;display:block;visibility:visible;}

.button{margin-top:1px;margin-bottom:0;transition: all linear 0.2s;}
.button:hover{margin-top:0;margin-bottom:1;}

.boxes .box{padding-bottom:30px;border-radius:30px 0;}
.boxes .box .button{margin-top:6px;}
.box{border:1px solid #333;padding:15px;margin-bottom:30px;}
.box h2{font-size:18px;font-weight:bold;}

.item a{text-decoration:none;border-bottom:1px dashed #ddd;padding-bottom:1px;font-size:11px;}
.item > h2 a{text-decoration:none;border:none;font-size:18px;}
.item a .fa{font-size:10px;}

.parallax_gallery{min-height:450px;position:relative;overflow:hidden;background:#f9f9f9;}
.parallax_gallery .slide{background:#fff;position:absolute;top:0;left:0;height:100%;width:60%;}
.parallax_gallery .slide .bg_img{
    opacity:1;background-position:top left;background-size:100% auto;
    background-color:#fff;position:absolute;filter:grayscale(0);
    transition:all linear 0.2s;background-attachment:scroll;
}
#parallax_slide_1 {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    top:20%;
    left:-5%;
}
#parallax_slide_2 {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    top:15%;
    left:20%;
}
#parallax_slide_3 {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    top:10%;
    left:45%;
}
#parallax_slide_4 {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    top:5%;
    left:70%;
}
.parallax_gallery .slide .bg_img:hover{filter:grayscale(0);background-size:130% auto;margin-left:-100px;margin-top:-40px;}



#footer{background-color:transparent;border-top:1px dashed #222;margin-top:100px !important;}


.item > h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}


.breadcrumb {
    background:transparent;
    /*border-bottom: 2px dotted #f1f1f1;*/
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 8px 0;
}

.breadcrumb a {
    color: #666;
    font-size: 12px;
}

.breadcrumb > li + li::before {
    color: #999;
    content: "\21D2";
}
.breadcrumb > li:nth-child(1){
    padding-right:5px;
}
.breadcrumb > li:nth-child(2)::before{
    display:none;
}


.smallItem{position:relative;}

.smallItem .item{margin-left:75px;}

.smallItem .itemImg{position:absolute;top:15px;left:15px;width:60px;height:auto;}
.itemImg a{text-decoration:none;border:none;}
.smallItem .itemImg > img {
    width: 100%;
}

img {
    width: 100%;
}

.subcats img{display:block;width:80%;margin:0 auto;}


.category_text p{font-size:18px;line-height:1.6;}
.box .category_text p{font-size:14px;}

.bigImage{background:no-repeat fixed center center #000;background-size:cover;margin-bottom:30px;padding:0;}
.bigImage{text-shadow:0 2px 2px rgba(0,0,0,0.3);padding-bottom:150px;}
.bigImage h1, .bigImage p {
    color: #fff;
    text-transform: uppercase;
}
.bigImage p{font-size:16px;text-transform:none;}

.bigImage h1{margin-top:0;}

.bigImage .product_count {
    color: #666;
    font-size: 12px;
    font-style: normal;
    margin-bottom: -2px;
    margin-top: 20px;
}


.bigImage .overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9093837364047181) 24%, rgba(0,0,0,0) 100%);
    opacity: 0.85;
    /*
    background: rgb(33,33,33);
    background: linear-gradient(0deg, rgba(33,33,33,1) 18%, rgba(0,0,0,0) 96%);
    */
}

.bigImage .bg_img{
    opacity:0.4;
}


.bigImage.detailPage{padding:60px 0;background:#000;}
.bigImage.detailPage .bg_img{}

.box .smallItem .itemImg{left:0;top:30px;}
.box .smallItem {
    border-top: 1px dashed #eaeaea;
    padding: 15px 0 30px;
}
.box .smallItem h3{font-size:16px;font-weight:bold;}
.box .smallItem p{font-size:13px;}

.detail_page .mainItem{padding:0 0 60px;}
.detail_page .mainItem p{font-size:18px;line-height:1.6;}

.detail_page .imgHolder{width:140px;position:relative;margin:30px auto;}

#bc {
    border-bottom: 1px solid #333;
    margin-bottom: 0;
}

.container{position:relative;}

.subNav h2{font-size:16px;color:#ffaa00;}

.catImage{width:100px;position:relative;margin:0 auto;}

.copyright {
    color: #333;
    font-size: 12px;
    padding: 15px 0;
    text-align: center;
    text-shadow: 0 1px 0 #000;
}
.copyright ul{
    margin-bottom:0;
}

.footer-links{
    list-style:none;
    display: block;
    text-align:center;
    padding:0;
}
.footer-links li{
    display:inline;
    margin:0 10px;
    font-size:11px;
}

.box-section{margin-top:-220px;padding-bottom:20px;}

.card .image-box{
    height:185px;
    min-height:150px;
    margin: -10px -10px 10px -10px;
    width:calc(100% + 20px);
    position: relative;
}

.top-list .card .image-box {
    height: 150px;
    min-height: 150px;

}

.top-list p{
    font-size:13px;
}
.top-list .brand-title{
    font-size:12px;
}

.top-list .card .image-box .image_holder{
    position:relative;
    top:auto;
    left:auto;
    height:100%;
    width:auto;
    display:block;
    background-position: center top;
    margin-top:10px;
}

.button-box{
    padding:15px 0 0;
}

.button-box .btn {
    display: inline-block;
    width: auto;
    font-size: 12px;
    margin-right: 10px;
}

.button-box .btn .remove{
    display:none;
}
.button-box .btn.added .remove{
    display:block;
}
.button-box .btn.added .add{
    display:none;
}

.card .image_holder{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:no-repeat center center #000;
    background-size:cover;
    text-decoration:none;
    background-size:contain;
}

.card .image_holder:visited{
    opacity: 0.2;
}

.card{
    padding:10px;
}
.card-title,
.card-item,
.card-list-item,
.dark{
    background:rgba(0,0,0,0.8);
    word-wrap:break-word;
}
.card.medium-dark{
    background:rgba(26,26,26,0.8);
}

.dark.clickable:hover{
    background:rgba(0,0,0,0.4);
}

.card,
.card-title,
.card-item,
.card-list-item {
    padding:10px;
    margin-bottom:1px;
}

.sortBar label{
    font-weight:normal;
    color:#aaa;
}
.sortBar input, .sortBar select {
    margin: 0 30px 0 0;
    background: #333;
    border: none;
    padding: 4px 6px;
    border-radius: 5px;
    color: #fff;
}

.label-box {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 5px;
    top: 0;
    overflow: hidden;
    z-index: 1;
}
.label-box .label {
    background: #FD6D00;
    color: #000;
    display: block;
    border-radius: 0;
    padding: 4px 30px;
    text-align: center;
    transform: rotate(-45deg);
    margin-top: 10px;
    margin-left: -40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100%;
    letter-spacing: -0.05em;
    box-shadow: 0 4px 4px #000;
}
.item-card{
    cursor:pointer;
    margin-bottom:10px;
}

.item-card:hover .card-content{
    opacity:1;
}
.item-card:hover{
    box-shadow: 0 0 10px rgba(100,100,100,0.5);
}

.item-card,
.item-card p{
    font-size:13px;
}

.item-card .card-content{
    opacity:0.85;
    transition: all linear 0.2s;
}

.item-card .item-meta{
    text-align: left;
    margin-bottom: 2px;
    background: #151515;
    padding: 1px 0;
    border-radius: 3px;
    font-size: 10px;
}

.item-card .item-meta a{
    color:#6c6c6c;
}
.item-card .item-meta .fa{
    color:#fff;
    margin-right:2px;
    margin-left:5px;
}
.item-card .item-meta .fa:first-child{
    margin-left:0;
}

.item-card h2{
    font-size:16px;
    margin-top:10px;
    margin-bottom:2px;
}

.rating-box{
    background:rgba(26,26,26,0.8);
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
}

.rating-box .text{
    text-transform:uppercase;
    margin-right:5px;
    font-weight:bold;
}

.rate-icon {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin:0 2px 0 0;
}
.rate-icon.hovered{
    color:#fff !important;
}
.rate-icon.ranked {
    color:#FD6D00;
}

.rate-icon.light-orange{
    color:#ffa74f;
}

.donate-box img{
    width:80%;
    margin:0 auto 15px;
    display:block;
}

.num-big {
    font-size: 60px;
    line-height: 100px;
    font-weight: bold;
    color: #131313;
    text-align: center;
    display: block;
}
.rating-big {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
}

.card-list{
    list-style:none;
    padding:0;
}
.card-list-item a {
    color: #888;
    display: inline-block;
    font-size: 14px;
}
.card-list-item a:hover{
    text-decoration:none;
    color:#FD6D00;
}
.card-list-item{
    padding-left:100px;
    position:relative;
    overflow:hidden;
}

.card-list-item.no-image{
    padding-left:10px;
}

.card-list-item.no-image.active {
    border-left: 3px solid #FD6D00;
    margin-left: -3px;
}

.card-list-item.no-image.active a{
    color:#FD6D00;
}



.card-item{
    min-height:340px;
}

.card.brand-box{
    margin-bottom:10px;
}

.item-image{
    position:absolute;
    top:0;
    left:0;
    width:90px;
    height:100%;
    background:no-repeat center center;
    background-size:contain;
}


#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(/images/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(/images/close.png);}
#sb-nav-next{background-image:url(/images/next.png);}
#sb-nav-previous{background-image:url(/images/previous.png);}
#sb-nav-play{background-image:url(/images/play.png);}
#sb-nav-pause{background-image:url(/images/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}


.ckeditor{background-image:none !important;}

.image_holder img{height:120px;width:auto;}

.right{float:right;}


.paginate {
    list-style: none;
    display: block;
    text-align: center;
}

.paginate li{
    display:inline;
}

.paginate li.totalCounter{display:block;margin-bottom:20px;}

.paginate li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #333;
    margin: 0 5px 10px;
    text-decoration: none;
    font-weight: bold;
    line-height: 24px;
    font-size: 12px;
}

.paginate li a:hover,
.paginate li a.active{
    background:#FD6D00;
    color:#fff;
}

.comment-box{
    margin-top:10px;
}

.comment-content {
    background: #151515;
    padding: 10px;
    border-radius: 5px;
    color: #888;
}

.comment-info {
    float: right;
    padding: 10px;
    font-size: 12px;
    color: #777;
}

.comment-meta {
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.comment-user{
    font-weight: bold;
    color: #fff;
    margin-top: 3px;
}

.comment-arrow {
    display: block;
    float: right;
    margin-right: 20px;
}

.comment-arrow .triangle{
    width: 0;
    height: 0;
    border-width: 10px 5px 0 5px;
    border-color: #151515 transparent transparent transparent;
    border-style: solid;
}

.comment-form{
    display:block;
    width:100%;
}

.comment-form textarea{
    background:#151515;
    border:1px solid #222;
    display:block;
}
.comment-form textarea {
    background: #151515;
    border: 1px solid #222;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    height: 120px;
}
.comment-date {
    font-size: 9px;
}

.comment-ava {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: no-repeat center center #777;
    background-size: cover;
    float: right;
    margin-top: 5px;
    margin-left: 6px;
}

.voucherForm .form-control{
    margin-bottom:10px;
}

.devider {
    background-size: 30px;
    height: 20px;
    clear: both;
    padding: 50px 0 50px;
    margin-bottom: 50px;
}


#menuToggler, .personalNav {
    color: #000;
    font-size: 26px;
}

.personalNav {
    display: block;
    margin-top: 21px;
    margin-left: 15px;
}

.mobile{display:none;}
.tablet{display:none;}

#navMobile{
    background:#151515;
    position:fixed;
    z-index:1000;
}

#navMobile ul{
    padding:0;
    list-style: none;
}
#navMobile ul li a{
    color:#aaa;
    font-weight: bold;
}
#navMobile ul li a .subtitle{
    display:none;
}

#navMobile ul li a {
    color: #aaa;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid #333;
}
#navMobile ul ul ul li a {
    padding-left: 30px;
    font-weight:300;
}
#navMobile ul ul ul li .fa{
    margin-right:10px;
}

#navMobile ul li ul > li:hover ul{
    display:block;
}

#navMobile ul ul ul{
    display:none;
}

#navMobile ul li a:hover{
    background-color:#000;
    color:#ffaa00 !important;
}

p.moscow-time{
    display:block;
    width:auto;
    margin:0 auto;
    position:relative;
    text-align:left;
}

.moscow-time span {
    font-size: 32px;
    background: #151515;
    border: 1px solid #333;
    padding: 0px 6px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    margin-right: 2px;
    font-weight: bold;
    color: #eee;
}

ul.personal-nav{
    display:none;
    z-index: 1001;
}
.rss-list li,
.rss-list li a{
    transition:all linear 0.2s;
}

.rss-list li.loading,
.rss-list li.loading a{
    color:#fff;
    background: #151515;
}
.rss-list li.done{
    background: #1bb730;
}
.rss-list li.done,
.rss-list li.done a{
    color:#fff;
}
.rss-list{
    list-style:none;
    padding:0;
}

.wizard-box {
    margin: 50px 0;
    border-radius: 10px;
}
.wizard-box h2{
    margin-top:0;
}
.wizard-box p{
    font-size:13px;
}

.wizard-steps {
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
}

.wizard-steps li{
    float: left;
    display: block;
    width: 20%;
}

.wizard-steps li a{
    display: block;
    text-align: center;
    margin: 0;
    padding: 9px;
    background: #151515;
    font-size: 10px;
    color: #fff;
    position:relative;
}

.wizard-steps li a .arrow{
    position:absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 8px 0 8px;
    border-color: #FD6D00 transparent transparent transparent;
    bottom:-5px;
    left:50%;
    margin-left:-8px;
    display:none;
}

.wizard-steps li.active a .arrow{
    display: block;
}

.wizard-steps li.active a{
    background:#FD6D00;
    color:#000;
    font-weight:bold !important;
}

#wizard-form label{
    color:#fff;
}

#wizard-form{
    position:relative;
}

#wizard-form .success-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.9);
    padding: 75px 0;
    display:none;
}

#wizard-form .success-box .fa-check{
    font-size:60px;
    width:120px;
    height:120px;
    line-height:120px;
    border-radius:50%;
    color:#fff;
    background:#1bb730;
}

#wizard-form .video-preview{
    border:1px solid #333;
    background:#151515;
    width:100%;
    height:250px;
    margin-bottom:20px;
    position:relative;
    overflow:hidden;
}
#wizard-form .video-preview .preview-text{
    position:absolute;
    top:0;
    left:0;
    color:#333;
    font-size:42px;
    text-transform:uppercase;
    text-align: center;
    margin-top:100px;
    width:100%;
    font-weight:bold;
}

#wizard-form .video-preview iframe{
    width:100%;
    height:100%;
    display:block;
}

#wizard-form .step {
    min-height: 250px;
    padding: 20px;
}

.btn .fa {
    margin-right: 5px;
}

.popup-stage{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1001;
    background:rgba(0,0,0,0.9);
    overflow-y:scroll;
}

.popup-stage .card.dark{
    border:1px solid #222;
}

.popup-section {
    margin: 40px;
    padding: 30px;
}

.disclaimer strong{
    color:#fff;
}

form .profileImage {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 10px auto;
    border-radius: 50%;
    background:#333;
}
.profile-card {
    border-radius: 5px;
    margin-top: 50px;
    width: 220px;
    position: relative;
    margin: 50px auto 0;
}

.image-select #fileFields{
    display: none;
}

#edit-profile-image{
    position:absolute;
    top:10px;
    right:10px;
}

.copy-box.form-control{
    background:#151515;
    border:1px solid #222;
    padding:0;
    position:relative;
    margin-bottom:15px;
    overflow:hidden;
}
.copy-box.form-control input {
    background: transparent;
    color: #ccc;
    border: none;
    padding: 6px 12px;
    width: 100%;
}
.copy-box.form-control button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    height: 100%;
    color: #FD6D00;
    border: none;
    padding: 0 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.card-list.fixed-height{
    height:350px;
    overflow-y:scroll;
}

.personal-nav {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    opacity: 0;
    transition:all linear 0.2s;
}
.personal-nav.opened{
    display:block;
    opacity:1;
}
.personal-nav li{
    display:block;
    margin:1px 0 0;
}
.personal-nav li a{color:#fff;background: #000;display:block;margin:0;}
.personal-nav li a .fa{color:#FD6D00;margin-right:5px;}

.personal-nav li .arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
    display: block;
    margin-left: 21px;
    margin-bottom: -1px;
}

#back_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #FD6D00;
    text-align: center;
    z-index: 1000;
}

@media (max-width:992px){

    .desktop{display:none;}

    .col-right{
        float:none;
    }

    .row .row{
        margin: 0 -5px !important;
    }
}


@media (max-width:768px){
    .topItems.rightItems ul{
        display:none;
    }
    .mobile{display:block;}
    .desktop{display:none !important;}
    header {
        padding: 0 10px;
    }
    #nav-trigger {
        display: block;
        color: #000;
        text-align: right;
        margin-top: 19px;
        margin-right: 15px;
    }
    #userNav{display:none;}
    #logo {
        margin: 20px auto;
    }
    .searchBar {
        margin-right: -13px;
        margin-left: -13px;
    }
    .bigImage p {
        margin-bottom: 0;
    }

    div.video{
        min-height:220px;
        height:220px
    }
    div.video iframe {
        height: 100%;
    }
    .rate-icon,
    .rating-box .text {
        font-size: 12px;
    }
    .rating-box {
        padding: 0 7px;
    }
    #bc{
        display:none;
    }
    #topBar.fixed {
        position: fixed;
        width: 100%;
        top: 0;
    }
    #topBar.fixed #logo {
        margin: 10px auto 5px;
    }
    #topBar.fixed #logo svg{
        margin:0;
    }

    #topBar.fixed .personalNav {
        margin-top: 11px;
    }

    #topBar.fixed #nav-trigger {
        margin-top: 10px;
    }
}